//RESET

*{
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic", sans-serif;
}

h1{
    font-size: 30px;
    margin: 2px 10px;
    
}

h2{
    font-size: 28px;
    margin: 2px 10px;
    
}
h3{
  font-size: 24px;
  margin: 2px 10px;

}

h4{
  font-size: 22;
  text-align: center;
  margin: 2px 10px;

}

p{
  font-size: 18px;
  text-align: justify;
  margin: 20px 20px;
}

.padMe {
    padding-top: 95px;
  }