main {

    .videoNosotros {
        width: 80%;
        height: 40dvi;
    }

    .timup {
        font-weight: 600;
    }

    .imgNosotros{
        height: 350;
        width: 300;
        object-fit: cover;

    }
}