//MAIN INDEX

main {

  .logoIlustrativo {
    width: 120px;
    height: 120px;
  }

  .img-proyectos {
    height: 350px;
    width: 650px;
    margin: 0px 20px;
    border-radius: 8px;
  }


  .videoNosotros {
    width: 90%;
    height: 60vh;
  }

  .elem {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .cont {

    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
  }

  .img-cont {
    display: flex;
    flex-direction: row;
    width: 600px;
    flex-wrap: wrap;
  }

  .row {
    margin: 20px;
    justify-content: center;
    align-items: center;
  }

  .cent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
  }

  .elmcnt {
    justify-content: center;
    align-items: center;
  }

  #iconstru {
    justify-content: space-between;
    background-image: linear-gradient(to bottom, $color-fondoN, $fondoLogosAmarillo);

    li {
      list-style-type: none;
      margin: 0px 20px;

      &:hover {
        background-color: rgba(208, 8, 8, 0.554);
        border-radius: 12px;
      }
    }
  }

}