//HEADER

@mixin media-query-header {
  @media screen and (max-width:1080px) {
    @content;
  }
}


header {

  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(250, 250, 250, 0.7);

  @include media-query-header() {
    .navMenu {
      ul {
        display: none;
      }
    }

    .navMenu {
      ul {
        display: none;
      }
    }

    .hamburgerMovile {
      list-style: none;
      font-size: 30px;
      font-weight: 600;
      color: $color-primario;

      ul {
        background-color: $color-secundario;

        li {
          a {
            color: $color-fondoN;
            font-size: 22px;

            &:hover {
              background-color: black;
              color: $color-fondoN;
            }
          }
        }
      }
    }
  }

  .list-h a {
    z-index: 3;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: $color-primario;
    align-items: center;
    font-size: 26px;
    font-weight: 500;
    margin: 15px;

    &:hover {
      text-decoration: none;
      color: $color-terciarioi;
      font-size: 28px;
      font-weight: 600;
      margin: 24px 15px;
      box-shadow: 0 -4px 0px $color-secundario inset;

    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;

    li a {
      list-style-type: none;

      &:hover {
        background-color: $color-primario;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 12px;
        color: black;
      }
    }
  }


  .logoheader {
    z-index: 3;
    height: 74px;
    width: 155px;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    margin-top: 15px;
  }

  .navMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

}

@media screen and (min-width:1080px) {
  header {
    .hamburgerMovile {
      display: none;
    }
  }
}